.container{
    margin-top:2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#board{
    width: 400px;
}
.row{
    height:100px;
}

img{
    width: 10px;
    height: 10px;
}